<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      TABLA DIDACTICA
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row >
      <ion-col size="4" size-sm>
        <ion-img (click)="seleccionarIdioma('españa')" src="../../assets/espana.png"></ion-img>
      </ion-col>
      <ion-col size="4" size-sm>
        <ion-img (click)="seleccionarIdioma('portugal')" src="../../assets/portugal.png" ></ion-img>
      </ion-col>
      <ion-col size="4" size-sm>
        <ion-img (click)="seleccionarIdioma('reinoUnido')" src="../../assets/reino-unido.png" ></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" >
        <ion-card>
          <ion-img src="{{imgApp[0]}}" ></ion-img>
          <ion-card-header>
            <ion-card-subtitle style="text-align: center; "><strong>{{dato[0]}}</strong></ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6" >
        <ion-card>
          <ion-img src="{{imgApp[1]}}" ></ion-img>
          <ion-card-header>
            <ion-card-subtitle style="text-align: center; "><strong>{{dato[1]}}</strong></ion-card-subtitle>
          </ion-card-header>
        </ion-card> 
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-img src="{{imgApp[2]}}"></ion-img>
          <ion-card-header>
            <ion-card-subtitle style="text-align: center; "><strong>{{dato[2]}}</strong></ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-img src="{{imgApp[3]}}"></ion-img>
          <ion-card-header>
            <ion-card-subtitle style="text-align: center; "> <strong>{{dato[3]}}</strong> </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-sm>
        <ion-button expand="full"
        color="none"
        style="background-image:url('../../assets/fondosColores.jpeg'); background-size:contain"
        (click)="seleccionarImagen('colores')"
        ><h1>Color</h1></ion-button>
      </ion-col>
      <ion-col size="12" size-sm>
        <ion-button expand="full"
        color="none"
        style="background-image:url('../../assets/fondoNumero.jpg'); background-size:contain"
        (click)="seleccionarImagen('numeros')"
        ><h1>Numero</h1></ion-button>
      </ion-col>
      <ion-col size="12" size-sm>
        <ion-button expand="full"
        color="none"
        style="background-image:url('../../assets/fondoAnimales.jpg'); background-size:contain"
        (click)="seleccionarImagen('animales')"
        ><h1>Animales</h1></ion-button>
      </ion-col>
    </ion-row>
</ion-grid>
</ion-content>
